{% include 'header.html' %}
            <div class="content-wrapper">
                <h4 class="mainHeading">Change Password</h4>
                <div class="formBlock">
                    <div class="row">
                        <div class="col-sm-8 col-md-6 col-lg-4">
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <div class="form-group">
                                    <button type="submit" class="btn themeBtn">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


{% include 'footer.html' %}