<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Wildlife</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/uicons-regular-straight.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/responsive.css">


</head>

<body>

    <section class="screenLogin">
        <div class="rightPart flex-column">
            <div class="midBlock mt-3">
                <h3>Check your email</h3>
                <p>We have sent new password to your registered email.</p>
                <form>
                    <a href="/" class="btn themeBtn w-100">Ok</a>
                </form>
            </div>
        </div>

    </section>

    <script src="/static/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/custom.js"></script>
</body>

</html>