{% include 'header.html' %}

            <div class="content-wrapper">
                <h4 class="mainHeading">SSO User Registration</h4>
                <div class="formBlock">
                    <div class="row">
                        <div class="col-sm-8 col-md-6 col-lg-4">
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label>SSO Id</label>
                                    {{form.sso_id}}
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    {{form.password}}
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn themeBtn">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="table-responsive-lg">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th>S.No.</th>
                                <th>SSO ID</th>
                                <th>Password</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for sso_li in sso_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{sso_li.sso_id}}</td>
                                <td>{{sso_li.password}}</td>
                                <td><a class="actionBtn actionBtn2" href="{% url 'remove_from_sso' sso_li.id %}"><i class="fi fi-rs-trash"></i></a></td>
                            </tr>
                            {% endfor %}
                          
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% include 'footer.html' %}